{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>

  <!-- Form to add a new report -->
  <form class="box" action="/station/{{station._id}}/addreport" method="POST">
    <label>Enter Report Details:</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter Code" name="code">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Temperature" name="temperature">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
        </div>
      </div>
    </div>
    <button class="button is-primary">Submit Report</button>
  </form>

  <!-- Table to display reports -->
  <section class="section">
    <h2 class="title">Reports</h2>
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Code</th>
          <th>Temp</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each reports}}
        <tr>
          <td>{{this.code}}</td>
          <td>{{this.temperature}}</td>
          <td>{{this.windSpeed}}</td>
          <td>{{this.windDirection}}</td>
          <td>{{this.pressure}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</section>
