{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>

  <!-- Form to add a new report -->
  <form class="box" action="/station/{{station._id}}/addreport" method="POST">
    <label>Enter Report Details:</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter Code" name="code">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Temperature" name="temperature">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
        </div>
      </div>
    </div>
    <button class="button is-primary">Add Report</button>
  </form>

  <!-- Display existing reports -->
  <section class="section">
    <h2 class="title">Reports</h2>
    <ul>
      {{#each reports}}
        <li>Code: {{this.code}}, Temperature: {{this.temperature}}, Wind Speed: {{this.windSpeed}}, Wind Direction: {{this.windDirection}}, Pressure: {{this.pressure}}</li>
      {{/each}}
    </ul>
  </section>
</section>
